<div class="container text-center m-5">
  <div class="row justify-content-center card p-2">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
            <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Hk5txPQ5_eZ2QFCTZYjA8Rr-KEqQ3gOfPzukGCUnl1D32sfPXuL5QvsUdhjvUHZrDk8&usqp=CAU"
              style="width: 50%;">
            <div class="card-img-overlay text-dark p-5">
              <h1 style="font-size:300%; padding-top: 12%;">{{'info.title' | translate}}</h1>
            </div>
        </div>

        <div class="item">
          <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Hk5txPQ5_eZ2QFCTZYjA8Rr-KEqQ3gOfPzukGCUnl1D32sfPXuL5QvsUdhjvUHZrDk8&usqp=CAU"
              style="width: 50%;">
            <div class="card-img-overlay text-dark p-5">
              <h1 style="font-size:300%; padding-top: 12%;">{{'info.title2' | translate}}</h1>
            </div>
        </div>

        <div class="item">
          <img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Hk5txPQ5_eZ2QFCTZYjA8Rr-KEqQ3gOfPzukGCUnl1D32sfPXuL5QvsUdhjvUHZrDk8&usqp=CAU"
              style="width: 50%;">
            <div class="card-img-overlay text-dark p-5">
              <h1 style="font-size:300%; padding-top: 12%;">{{'info.title3' | translate}}</h1>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
