<div class="container m-5">
  <div class="text">
    <h1 class="text-primary">{{'steps.bigTitle' | translate}}</h1>
    <p>{{'steps.smallTitle' | translate}}</p>
  </div>
  <div class="row justify-content-center align-items-center">
    <div class="col card justify-content-center align-items-center mx-2">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Hk5txPQ5_eZ2QFCTZYjA8Rr-KEqQ3gOfPzukGCUnl1D32sfPXuL5QvsUdhjvUHZrDk8&usqp=CAU"
        class="card-img">
      <div class="card-img-overlay text-light p-5">
        <h5 class="card-title rounded-5 "><span class="fw-bolder border border-1 border-white rounded-circle px-3 py-2">1</span>
        </h5>
        <h1 class="card-text">Get full body</h1>
        <h1 class="card-text fw-bolder" style="font-size:300%;">CHECKUP</h1>
      </div>
    </div>
    <div class="col card mx-2">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Hk5txPQ5_eZ2QFCTZYjA8Rr-KEqQ3gOfPzukGCUnl1D32sfPXuL5QvsUdhjvUHZrDk8&usqp=CAU"
        class="card-img">
      <div class="card-img-overlay text-light p-5">
        <h5 class="card-title rounded-5 "><span
            class="fw-bolder border border-1 border-white rounded-circle px-3 py-2">2</span></h5>
        <h1 class="card-text">Conect with a</h1>
        <h1 class="card-text fw-bolder"style="font-size:300%;">DOCTOR</h1>
      </div>
    </div>
    <div class="col card mx-2 align-self-center">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Hk5txPQ5_eZ2QFCTZYjA8Rr-KEqQ3gOfPzukGCUnl1D32sfPXuL5QvsUdhjvUHZrDk8&usqp=CAU"
        class="card-img">
      <div class="card-img-overlay text-light p-5">
        <h5 class="card-title rounded-5 "><span class="fw-bolder border border-1 border-white rounded-circle px-3 py-2">3</span>
        </h5>
        <h1 class="card-text">Order</h1>
        <h1 class="card-text  fw-bolder" style="font-size:300%;">MEDICINE</h1>
      </div>
    </div>
  </div>
</div>
